*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

.container{
  width: 40%;
  margin-top: 13%;
  margin-bottom: 13%;
  margin-left: 30%;
margin-right: 30%;
    
    
}

.box-3{
    background-color: #443F5E;
    border: 2px solid #912779;
    padding: 30px ;
}
.box-2{
    background-color: #6952DE;
    border: 2px solid #DECA68;
    padding: 30px;
}
.box-1{
    text-align: center;
    background-color: #513FAB;
    border: 2px solid #DE52BD;
    padding: 30px;
    
    
}
p{
    color: #fff;
    background-color: #2D235E;
    padding: 20px;
    border: 2px solid #3CDEDB;
}



