*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   background-color: linen ;

}

.container{
    position: absolute;
    top: 30%;
    left: 420px;
    bottom: 20%;
    
    
}
/* .border{
    margin-top: 2%;
    background-color: rgb(255, 0, 242);
    max-width: 90%;
    padding:60px; 
} */
.outline{
    background-color: #123f04;
    border: 2px solid #fff;
    padding: 40px ;
}
.margin{
    background-color: #6e6ec4;
    border: 2px solid #fff;
    padding: 30px;
}
.padding{
    text-align: center;
    background-color: #8b3e3e;
    border: 2px solid #fff;
    padding: 20px;
    /* width: 30%; */
    
}
p{
    padding: 20px;
}



